<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">NGSC</a>
      <form class="d-flex" role="search">
        <button *ngIf="isLoggedIn" class="btn btn-dark" (click)="logout()">Logout</button>
      </form>
    </div>
  </nav>
<router-outlet></router-outlet>
<footer class="bg-dark" style="text-align: center; padding: 10px; background-color: #f1f1f1; font-size: 14px;">
  Powered by <a href="https:thebegames.com" target="_blank"><strong>Be-game</strong></a>
</footer>
