/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/cyan-orange.css'; */
@import '../node_modules/@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn-dark{
    background-color: #282828;
}
.bg-blue{
    background-color: #53a4d9;
    color: #fff;
}
.bg-dark{
    background-color: #282828;
    color: #fff;
}
.bg-dark a{
    color: #fff;
}

/* Or your chosen theme */